<app-header></app-header>
<body>
    <div class="container">
        <div class="profile-page">
            <!-- Ảnh bìa -->
            <div class="cover-photo">
              <img src="https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&q=80&w=800" alt="Cover Photo">
            </div>
          
            <!-- Ảnh đại diện và thông tin cá nhân -->
            <div class="profile-header">
              <div class="avatar">
                <img src="https://randomuser.me/api/portraits/men/1.jpg" alt="Avatar">
              </div>
              <div class="user-info">
                <h2>Nguyễn Văn A</h2>
                <p>Giới thiệu ngắn về bản thân...</p>
              </div>
            </div>
            <!-- Menu điều hướng -->
            <div class="navigation-menu">
              <button routerLink="/profile" routerLinkActive="active">Bài viết</button>
              <button routerLink="/profile/about" routerLinkActive="active" >Giới thiệu</button>
              <button routerLink="/profile/friends" routerLinkActive="active">Bạn bè</button>
              <button routerLink="/profile/photos" routerLinkActive="active">Ảnh</button>
              <button routerLink="/profile/videos" routerLinkActive="active">Video</button>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</body>
  